/* Main Styling for the donor interface */
:root {
    --primary-color: #1976d2;
  }


#donor-dashboard-header{
    background-color:#FFFFFF;
    width:100vw;
    margin:0px;
    color:black;
    font-size:9px;
    padding:4px 12px;
}

#donor-dashboard-sidebar{
    margin-top:3vh;
    padding:0px 10px;
    margin-bottom:3vh;
    height:94vh;
}

#donor-dashboard-body{
    padding:20px;
    margin-top:3vh;
    margin-bottom:3vh;
    height: 95vh;
    margin-right:20px;
    border-radius:9px;
    background-color:#F7F8FA;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#app-title{
    margin-top:auto;
    color:#5F5F5F;
    width:100%;
    text-align:center;
}


#side-column-card{
    padding: 32px;
}

h1{
    margin: 0;
}
h2{
    margin: 0;
}

h3{
    margin: 0;
    color: var(--primary-color);
}
h4{
    margin: 0;
    color: var(--primary-color);
}

p{
    margin: 0;
}

