.modal{
    position: absolute,
    top: 50%,
    left: 50%,
    transform: translate(-50%, -50%),
    width: 50%,
    height: 50%,
    overflowY: scroll,
    scrollBehavior: smooth,
    bgcolor: white,
    border: 2px solid #000,
    boxShadow: 24,
    p: 4,
  }