/* Styling for the project card. */

.default-cover-gradient{
    background: linear-gradient(45deg, pink 0%, rgb(69, 69, 209) 100%);
    width:90%;
    border-radius:18px;
    height:300px;
    margin-top:20px;
    margin:10px auto;
    box-shadow:none;
}

.default-cover-text{
    box-sizing:border-box;
    border-radius:18px;
}

.card-button:hover {
    background: linear-gradient(45deg, pink 0%, rgb(69, 69, 209) 100%);
    cursor: pointer;
}