body {
  height:100vh;
  width:100vw;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  background: linear-gradient(280.34deg, #EAFFF6 -3.52%, #E2FFF0 26.04%, #E1F8FF 67.04%, #D6EEFF 87.78%);
}
